<div id="main">
	<div align="center"><h2>Clients</h2></div>
	
	<table>
	<thead>
	</thead>
	<tbody>
		<tr *ngFor="let client of clients">
		<td>{{client.firstname}}</td>
		</tr>
	</tbody>
</table>
</div>