
<div class="page-top clearfix" *ngIf="layout">
  <a class="al-logo clearfix" routerlink="/home"  routerLinkActive="active"><span>Wait-</span>Management</a>
</div>

<aside id="mySidenav"  class="sidenav al-sidebar" *ngIf="layout">
	<ul baslimscroll="" class="al-sidebar-list" id="al-sidebar-list" style="overflow: hidden; width: auto; height: 265px;">
		<li class="al-sidebar-list-item selected" title="Acceuil">
			<a class="al-sidebar-list-link" [routerLink]="['/home']"  routerLinkActive="active">
				<i class="ion-android-home"></i><span>Acceuil</span>
			</a>
		</li>
		<li class="al-sidebar-list-item selected" title="Statistiques" *ngIf="(user.type == 1)">
			<a class="al-sidebar-list-link" [routerLink]="['/statistics']">
				<i class="ion-stats-bars"></i><span>Statistiques</span>
		</a>
		</li>
		<li class="al-sidebar-list-item selected" title="Gérer guichetier" *ngIf="(user.type == 1)">
			<a class="al-sidebar-list-link">
				<i class="ion-person-stalker" [routerLink]="['/guichetiers']"></i><span>Guichetiers</span>
		</a>
		</li>
		<li class="al-sidebar-list-item selected" title="Gérer service" *ngIf="(user.type == 1)">
			<a class="al-sidebar-list-link">
				<i class="ion-android-settings"></i><span>Services</span>
		</a>
		</li>
		<li class="al-sidebar-list-item selected" title="Gérer client" *ngIf="(user.type == 0)">
			<a class="al-sidebar-list-link"  [routerLink]="['/client']"  routerLinkActive="active">
				<i class="ion-person-stalker"></i><span>Clients</span>
		</a>
		</li>
		<li class="al-sidebar-list-item selected" title="Se déconnecter">
			<a class="al-sidebar-list-link"   [routerLink]="['/logout']" routerLinkActive="active" href="/logout">
				<i class="ion-log-out"></i><span>Se déconnecter</span>
		</a>
		</li>
	</ul>
	 
</aside>
<router-outlet></router-outlet>

