<div id="main">
	<div align="center"><h2>Acceuil</h2></div>
	
	Bonjour, Mr {{ user.firstname }} {{ user.lastname }}
	
	<div *ngIf="user.type == 0">
		<form #f="ngForm" novalidate (ngSubmit)="onSubmit(f.value,f.valid)" class="form-horizontal">
		<div class="form-group row">
			<label class="col-sm-4 control-label"> Etat : </label>
			<select class="col-sm-4" [(ngModel)]="user.active" name="state" (change)="active = (f.value.state == 'false')?false:true;">
				<option value="false">desactivé</option>
				<option value="true">activé</option>
			</select>
		</div>
		<div class="form-group row" *ngIf="active">
			<label class="col-sm-4 control-label"> Numéro : </label>
			<input class="col-sm-4" [(ngModel)]="user.counterNumber" type="number"  name="counter" />
		</div>	
		<div class="form-group row">
			<label class="col-sm-4 control-label"> </label>
			<input type="submit" (disabled)=[submited] class="btn" />
		</div>
		<div *ngIf="error"> Impossible d'envoyer les informations! </div>
		<div *ngIf="done"> les informations sont mis à jour! </div>
		</form>
	</div>
</div>