<div class="auth-main">
  <div class="auth-block">
    <h1>Se connecter à l'interface web</h1>
    

    <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f.value,f.valid)" class="form-horizontal">
      <div class="form-group row">
        <label class="col-sm-4 control-label">Nom d'utilisateur</label>

        <div class="col-sm-10">
          <input [(ngModel)]="user.username" name="username" type="email" class="form-control" placeholder="Nom d'utilisateur">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label">Mot de passe</label>

        <div class="col-sm-10">
          <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Mot de passe">
        </div>
      </div>
	        <div class="form-group row">
        <label class="col-sm-4 control-label">Type de compte</label>

        <div class="col-sm-10">
          <select [(ngModel)]="user.type" name="password" class="form-control">
		  <option value="0" > Guichetier </option>
		  <option value="1" > Administrateur </option>
		  </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" [disabled]="submitted" class="btn btn-default btn-auth">Se connecter</button>
        </div>
      </div>
	  <div style="color:red" *ngIf="incorrect" align="center">
			Erreur : "Connexion refusée. Nom de compte ou mot de passe incorrect"
	  </div>
    </form>

   
  </div>
</div>